{% extends "base.html" %}

{% block titulo %}
    Inicio
{% endblock titulo %}

{% block contenido %}
<div class="row">
    <div class="col-md-9">
                 <h1>Lista de mis Diccionarios</h1>
                {% for elemento in mis_diccionarios %}
                
                         <p><strong><a href="{% url "jugar" elemento.pk %}">{{elemento.nombre}}</strong> 
                          {{elemento.usuario}}</a> // <a href="{% url "nueva_palabra" elemento.pk %}">Añadir palabra</a> </p>
                
                {% endfor %}
                <h1>Lista de mis Palabras</h1>
                {% for elemento in mis_palabras %}
                
                         <p><strong>{{elemento.palabra_A}}</strong> 
                          {{elemento.palabra_B}}  // Jugada proxima: {{elemento.jugada_proxima}}</p>
                
                {% endfor %}
                <div class="alert-warning"><h5>Mi usuario es: {{mi_usuario}} y hoy es {{ hoy }}</h5>
                    <p>{{mensaje}}</p>
                    
                </div>
</div>
<div class="col-md-3">
              <aside id="bienvenida" class="well">
                  {% if not request.user.is_authenticated %}
                  <h4>Hola, logueate!</h4>
                  <a href="{% url "entrar"%}">Pincha aquí</a>
                  
                  {% else %}
                          <h5>Hola, {{request.user}}</h5>
                          <p>Para salir pulsa <a href="{% url "salir" %}">aquí</a></p>
          
                  {% endif %}
              </aside>
       </div>
    </div>
{% endblock contenido %}