{% extends "base.html" %}

{% block titulo %}
    Inicio
{% endblock titulo %}

{% block contenido %}
<div class="row">
    <div class="col-md-9">
                 <h1>Lista de mis Diccionarios</h1>
                {% for elemento in mis_diccionarios %}
                
                         <p><strong><a href="{% url "jugar" elemento.pk %}">{{elemento.nombre}}</strong> 
                          {{elemento.usuario}}</a> // <a href="{% url "nueva_palabra" elemento.pk %}">Añadir palabra</a> </p>
                
                {% endfor %}
                

                {% if resultado == "correcto" %}

                    <div class="well">
                        {{ resultado }}
                        <div>
                            {{pregunta_palA }} -> {{pregunta_palB}}
                        </div>
                        <form id = "form_dias" action="{% url "reprogramar" %}" method = "post">
                            {% csrf_token %}
                            <input type="hidden" name="dias" id="dias">

                            <input type="hidden" name="id" value="{{ palabra_jugada.pk }}">
                            {# <input type="submit"> #}
                        </form>
                            <button id="1d" autofocus>1 Día</button>
                            <button id="2d">2 Días</button>
                            <button id="10d">10 días</button>
                    </div>

                
                {% else %}

                <div class="well">

                    {% if resultado == "incorrecto" %}

                    <p>KO</p>
                    Respuesta incorrecta: {{ respuesta }}

                    <br>La palabra era: <br>
                    {{ pregunta_palA }} -> {{ pregunta_palB}}

                    {%endif%}
                
                </div>
                <div class="well">
                    Nueva palabra: {{ palabra_juego.palabra_A }} 
                <form action="" method = "post">
                    {% csrf_token %}
                    <input type="text" name="respuesta" autofocus>
                    <input type="hidden" name="pregunta_palA" value="{{ palabra_juego.palabra_A }}">
                    <input type="hidden" name="pregunta_palB" value="{{ palabra_juego.palabra_B }}">
                    <input type="hidden" name="id" value="{{ palabra_juego.pk }}">
                    <input type="submit">
                </form>

                {% endif %}

                <h1>Lista de mis Palabras</h1>
                {% for elemento in mis_palabras %}
                
                         <p><strong>{{elemento.palabra_A}}</strong> 
                          {{elemento.palabra_B}}  // Jugada proxima: {{elemento.jugada_proxima}}</p>
                
                {% endfor %}

                <div class="alert-warning"><h5>Mi usuario es: {{mi_usuario}}</h5></div>
</div>
<div class="col-md-3">
              <aside id="bienvenida" class="well">
                  {% if not request.user.is_authenticated %}
                  <h4>Hola, logueate!</h4>
                  <a href="{% url "entrar"%}">Pincha aquí</a>
                  
                  {% else %}
                          <h5>Hola, {{request.user}}</h5>
                          <p>Para salir pulsa <a href="{% url "salir" %}">aquí</a></p>
          
                  {% endif %}
              </aside>
       </div>
    </div>
{% endblock contenido %}

{% block java %}

    <script>
        $(document).ready( function (){
            $('#1d').on('click', function (){
                $('#dias').val('1');
                $('#form_dias').submit();

            })
            $('#2d').on('click', function (){
                $('#dias').val('2');
                $('#form_dias').submit();

            })
            $('#10d').on('click', function (){
                $('#dias').val('10');
                $('#form_dias').submit();

            })
        })


    </script>


{% endblock java %}